html{background-image: url('./7356488-11325210.jpg'); 
  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
body{background-color:transparent;} .ah-logintop{margin-top:25%;}
.errortext{border-bottom-color: #d81b60; border-style:solid;}
