<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RM_VSOMEntities" connectionString="metadata=res://*/RMVSOM.csdl|res://*/RMVSOM.ssdl|res://*/RMVSOM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.28\SVR2012;initial catalog=RM_VSOM;persist security info=True;user id=sa;password=P@ssw0rd2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
