<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VesselStopOverData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="VesselStopOverData.Properties.Settings.SOCOMAR_PRODUCTIONConnectionString"
      connectionString="Data Source=192.168.0.28;Initial Catalog=SOCOMAR_PRODUCTION;User ID=sa;Password=Passw0rd_"
      providerName="System.Data.SqlClient" />
    <add name="VesselStopOverData.Properties.Settings.VSOMBDConnectionString"
      connectionString="Data Source=192.168.0.28\SVR2012;Initial Catalog=NAVY;User ID=sa;Password=P@ssw0rd2012"
      providerName="System.Data.SqlClient" />
    <add name="RM_VSOMEntities" connectionString="metadata=res://*/RMVSOM.csdl|res://*/RMVSOM.ssdl|res://*/RMVSOM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.28\SVR2012;initial catalog=RM_VSOM;persist security info=True;user id=sa;password=P@ssw0rd2012;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="VesselStopOverData.Properties.Settings.RM_VSOMEntities"
      connectionString="Data Source=192.168.0.28\SVR2012;Initial Catalog=RM_VSOM;User ID=sa;Password=P@ssw0rd2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <VesselStopOverData.Properties.Settings>
      <setting name="VesselStopOverData_SocSAPWS_SocSAPWebService"
        serializeAs="String">
        <value>http://192.168.0.28/SOCWS/SocSAPWebService.asmx</value>
      </setting>
    </VesselStopOverData.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>